
.line-wave{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
.line-wave:after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.line-anime{animation:shift 0.3s linear infinite; transform:translateY(10px);}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23000000' stroke-width='1' class='line-anime' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  height: 5px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.text-brutal{
  display: inline-block;
  font-size: 45px;
  transform: rotate(5deg);
}

@media screen and (min-width: 200px) and (max-width: 1450px){
  .titlemob{
    margin-top: 10% !important;
  }
  .divmob{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
